# SCRAPPING DES 3 TABLES DES PRIX ET LOYER
website = https://www.meilleursagents.com/prix-immobilier/ile-de-france/

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://www.meilleursagents.com/prix-immobilier/ile-de-france/"
page=requests.get(url)
print(page.status_code==200)
# page.content

True

In [3]:
soup=BeautifulSoup(page.content,'html.parser')
# print(soup.prettify)

In [4]:
tables = soup.find_all('table')
# tables

In [5]:
dfs = pd.read_html(str(tables))

In [6]:
# VILLE Prix/Loyer
prix_ville = dfs[0]
# DEPARTEMENT Prix/Loyer
prix_dep = dfs[1]
# REGION Prix/Loyer
prix_region = dfs[2]

# Départements Prix/Loyer

In [7]:
prix_dep

,Département,Prix m2 moyenappartement,Prix m2 moyenmaison,Loyer m2 moyenappartement,Loyer m2 moyenmaison
0,75 - Paris,6 963 €,7 426 €,"40,1 €","36,2 €"
1,77 - Seine-et-Marne,2 271 €,1 775 €,"20,9 €","20,1 €"
2,78 - Yvelines,3 376 €,2 692 €,"24,2 €","25,6 €"
3,91 - Essonne,2 207 €,2 144 €,"21,8 €","23,6 €"
4,92 - Hauts-de-Seine,4 993 €,5 216 €,"32,0 €","36,9 €"
5,93 - Seine-Saint-Denis,3 063 €,2 464 €,"26,4 €","26,8 €"
6,94 - Val-de-Marne,3 857 €,3 466 €,"28,1 €","30,5 €"
7,95 - Val-d'Oise,2 409 €,2 300 €,"23,1 €","24,2 €"

# Régions Prix/Loyer

In [11]:
prix_region

,Région,Prix m2 moyenappartement,Prix m2 moyenmaison,Loyer m2 moyenappartement,Loyer m2 moyenmaison
0,Bourgogne-Franche-Comté,1 179 €,1 103 €,"7,4 €","6,8 €"
1,Centre-Val de Loire,1 440 €,1 203 €,"7,7 €","6,8 €"
2,Grand-Est,1 486 €,1 270 €,"7,9 €","7,2 €"
3,Hauts-De-France,1 670 €,1 349 €,"8,5 €","7,2 €"
4,Normandie,1 590 €,1 428 €,"7,9 €","7,1 €"

# Villes Prix/Loyer

In [12]:
prix_ville

,Ville,Prix m2 moyenappartement,Prix m2 moyenmaison,Loyer m2 moyenappartement,Loyer m2 moyenmaison
0,Paris,6 195 €,6 606 €,"18,8 €","16,9 €"
1,Boulogne-Billancourt,5 563 €,6 582 €,"17,2 €","17,0 €"
2,Saint-Denis,2 663 €,2 089 €,"12,7 €","10,7 €"
3,Argenteuil,2 302 €,2 170 €,"11,5 €","13,2 €"
4,Montreuil,4 653 €,3 978 €,"14,5 €","15,5 €"
5,Nanterre,3 456 €,4 010 €,"13,7 €","17,7 €"
6,Vitry-sur-Seine,2 692 €,2 713 €,"12,1 €","14,5 €"
7,Créteil,2 494 €,2 973 €,"11,6 €","14,8 €"
8,Asnières-sur-Seine,4 419 €,5 248 €,"14,1 €","17,5 €"
9,Versailles,5 468 €,5 426 €,"12,3 €","14,2 €"
10,Courbevoie,4 691 €,5 792 €,"15,0 €","18,2 €"
11,Colombes,3 343 €,4 435 €,"13,1 €","17,6 €"
12,Aulnay-sous-Bois,2 153 €,1 891 €,"11,5 €","12,6 €"
13,Aubervilliers,2 622 €,2 220 €,"12,7 €","16,9 €"
14,Rueil-Malmaison,3 708 €,4 510 €,"14,0 €","18,5 €"
15,Champigny-sur-Marne,2 613 €,2 405 €,"12,0 €","14,8 €"
16,Saint-Maur-des-Fossés,3 846 €,4 423 €,"12,7 €","15,5 €"
17,Drancy,2 038 €,1 928 €,"11,8 €","11,4 €"
18,Issy-les-Moulineaux,5 357 €,6 007 €,"16,4 €","17,2 €"
19,Levallois-Perret,5 969 €,6 019 €,"18,1 €","17,5 €"

In [8]:
prix_dep.to_csv("prix_dep.csv")

In [9]:
prix_region.to_csv("prix_region.csv")

In [10]:
prix_ville.to_csv("prix_ville.csv")